# This file designates code owners for the repository
# Learn more: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global code owners
* @edusite-tuf-team
